<div class="hero-section">
    <div class="container">
        <div class="hero">
            <div class="category">
                <div class="cat-item {{cssClass}}" (click)="onclick()">Automobile</div>
                <div class="cat-item {{cssClass}}" (click)="onclick()">Clothes and wear</div>
                <div class="cat-item {{cssClass}}" (click)="onclick()">Home interiors</div>
                <div class="cat-item {{cssClass}}" (click)="onclick()">Computer and tech</div>
                <div class="cat-item {{cssClass}}" (click)="onclick()">Tools, equipments</div>
                <div class="cat-item {{cssClass}}" (click)="onclick()">Sports and outdoor</div>
                <div class="cat-item {{cssClass}}" (click)="onclick()">Animal and pets</div>
                <div class="cat-item {{cssClass}}" (click)="onclick()">Machinery tools</div>
                <div class="cat-item {{cssClass}}" (click)="onclick()">More category</div>
            </div>
            <div class="banner">
                <div class="banner-img">
                    <img src="/assets/images/img/Banner-home.png" alt="Banner">
                </div>
                <div class="learn-more">
                    <span>Latest Trending <br> <strong>Electronics Items</strong></span>
                   
                    <div class="learn-more-button">
                        learn more
                    </div>
                </div>
            </div>
            <div class="sign-up">
                <div class="card-1">
                    <div class="user">
                        <div class="avatar"></div>
                        <div class="intro">
                            Hi User <br> let's get started
                        </div>
                    </div>

                    <div class="join">Join</div>
                    <div class="login">Log in</div>
                </div>
                <div class="card-2">
                    <img src="/assets/images/img/block-banner.png" alt="">
                </div>
                <div class="card-3">
                    <img src="/assets/images/img/block-banner-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
