.unverified-stores-product-section {
    background: rgb(247, 250, 252);
}

.section-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #1C1C1C;
    padding-bottom: 24px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
   
}

.product {
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    padding: 5%;
    padding-left: 10%;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1C1C1C; 
}

.product-detail {
    margin-top: 34px;
}

.product-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #8B96A5;
}

@media (min-width: 830px){
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
       
    }
}