<div class="unverified-stores-product-section">
    <div class="container">
        <div class="unverified-storee">
            <div class="section-title">
                Products From Unverified Stores
            </div>

            <div class="products">
                <div class="product">
                    <div class="product-image">
                        <img src="/assets/images/products/t-shirt.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="price">₦2000</div>
                        <div class="product-name">
                            T-shirt with multiple color, for men
                            
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image">
                        <img src="/assets/images/products/jacket.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="price">₦6500</div>
                        <div class="product-name">
                            Jeans shorts for men blue color
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image">
                        <img src="/assets/images/products/t-shirt.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="price">₦2000</div>
                        <div class="product-name">
                            Leather wallet
                            
                        </div>
                    </div>
                </div>      

                <div class="product">
                    <div class="product-image">
                        <img src="/assets/images/products/wallet.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="price">₦2000</div>
                        <div class="product-name">
                            Leather wallet
                            
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image">
                        <img src="/assets/images/products/jacket.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="price">₦2000</div>
                        <div class="product-name">
                            Jean Bag
                            
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image">
                        <img src="/assets/images/products/t-shirt.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="price">₦2000</div>
                        <div class="product-name">
                            T-shirt with multiple color, for men
                            
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image">
                        <img src="/assets/images/products/jacket.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="price">₦6500</div>
                        <div class="product-name">
                            Jeans shorts for men blue color
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image">
                        <img src="/assets/images/products/t-shirt.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="price">₦2000</div>
                        <div class="product-name">
                            Leather wallet
                            
                        </div>
                    </div>
                </div>      

                <div class="product">
                    <div class="product-image">
                        <img src="/assets/images/products/wallet.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="price">₦2000</div>
                        <div class="product-name">
                            Leather wallet
                            
                        </div>
                    </div>
                </div>

                <div class="product">
                    <div class="product-image">
                        <img src="/assets/images/products/jacket.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="price">₦2000</div>
                        <div class="product-name">
                            Jean Bag
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>