<div class="landing-page-section">
    
    <div class="hero-component">
        <app-hero></app-hero>
    </div>
    
    <div class="verified-stores-components">
        <app-verified-stores-random-products></app-verified-stores-random-products>
    </div>
    
    <div class="unverified-stores-components">
        <app-unverified-stores-random-products></app-unverified-stores-random-products>
    </div>
    
    <div class="areas-covered-component">
        <app-areas-covered></app-areas-covered>
    </div>
    
    <div class="news-letter-component">
        <app-news-letter></app-news-letter>
    </div>
    
    <div class="footer-component">
        <app-footer></app-footer>
    </div>
    
</div>