mat-sidenav {
    width: 280px;
    height: 800px;
    background: #FFFFFF;
}

.nav-header {
    height: 100px;
    background: #EFF2F4;
    padding: 7%;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-image {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background: #91B1E7;
}

.sign-in-out {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6rem;
}

.vertical-divider {
    font-size: 25px;
}

.sign-in-out span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1C;
}

.item   {
    padding: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.item nav {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1C1C1C;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}