<div class="verified-stores-products-section">  
    <div class="container">
        <div class="verified-stores">
            <div class="row">
                <div class="ads">
                    <div class="header">
                        <div class="title">Deals and Offers</div>
                        <div class="sub-title">Hygien equipments</div>
                    </div>
                    <div class="counter">
                        <div class="days"><span>04</span> <br> Days</div>
                        <div class="hours"><span>13</span> <br> Hours</div>
                        <div class="min"><span>34</span> <br> Min</div>
                        <div class="sec"><span>54</span> <br> Sec</div>
                    </div>
                </div>
                <div class="products">
                    <div class="discount-product">
                        <div class="product-image">
                            <img src="/assets/images/products/smart-watch.png" alt="">
                        </div>
                        <div class="product-name">
                            smart watches
                        </div>
                        <div class="discount-badge">-25%</div>
                    </div>
                    <div class="discount-product">
                        <div class="product-image">
                            <img src="/assets/images/products/laptop.png" alt="">
                        </div>
                        <div class="product-name">
                            Laptops
                        </div>
                        <div class="discount-badge">-25%</div>
                    </div>
                    <div class="discount-product">
                        <div class="product-image">
                            <img src="/assets/images/products/camera.png" alt="">
                        </div>
                        <div class="product-name">
                            GoPro Cameras
                        </div>
                        <div class="discount-badge">-25%</div>
                    </div>
                    <div class="discount-product">
                        <div class="product-image">
                            <img src="/assets/images/products/phone.png" alt="">
                        </div>
                        <div class="product-name">
                            Infinix smart 24
                        </div>
                        <div class="discount-badge">-25%</div>
                    </div>
                    <div class="discount-product">
                        <div class="product-image">
                            <img src="/assets/images/products/headset.png" alt="">
                        </div>
                        <div class="product-name">
                            Headphones
                        </div>
                        <div class="discount-badge">-25%</div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="verified-products-ads">
                    <img src="/assets/images/img/left-side.png" alt="">
                    
                    <div class="section-title">Home and Outdoor</div>
                </div>
                <div class="verified-products">
                    <div class="shops-products">
                        <div class="shop-product">
                            <div class="product-detail">
                                Soft Chairs <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/sofar-1.png" alt="">
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="product-detail">
                                Soft Chairs <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/sofar-1.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="shops-products">
                        <div class="shop-product">
                            <div class="product-detail">
                                Soft Chairs <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/home-apliance.png" alt="">
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="product-detail">
                                Clay Pots <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/clay-pot.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="shops-products">
                        <div class="shop-product">
                            <div class="product-detail">
                                Mixers <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/mixer.png" alt="">
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="product-detail">
                                Blenders <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/blender.png" alt="">
                            </div>
                        </div>
                    </div>


                    <div class="shops-products">
                        <div class="shop-product">
                            <div class="product-detail">
                                Cups <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/cup.png" alt="">
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="product-detail">
                                <span>Soft Chairs</span> <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/sofar-1.png" alt="">
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>


            <div class="row">
                <div class="verified-products-ads">
                    <img src="/assets/images/img/left-aside.png" alt="">

                    <div class="section-title">Consumer electronics</div>
                </div>
                <div class="verified-products">
                    <div class="shops-products">
                        <div class="shop-product">
                            <div class="product-detail">
                                Soft Chairs <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/sofar-1.png" alt="">
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="product-detail">
                                Soft Chairs <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/sofar-1.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="shops-products">
                        <div class="shop-product">
                            <div class="product-detail">
                                Soft Chairs <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/home-apliance.png" alt="">
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="product-detail">
                                Clay Pots <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/clay-pot.png" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="shops-products">
                        <div class="shop-product">
                            <div class="product-detail">
                                Mixers <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/mixer.png" alt="">
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="product-detail">
                                Blenders <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/blender.png" alt="">
                            </div>
                        </div>
                    </div>


                    <div class="shops-products">
                        <div class="shop-product">
                            <div class="product-detail">
                                Cups <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/cup.png" alt="">
                            </div>
                        </div>

                        <div class="shop-product">
                            <div class="product-detail">
                                <span>Soft Chairs</span> <br>
                                <span class="price">
                                    From <br> 25000
                                </span>
                            </div>
                            <div class="product-image">
                                <img src="/assets/images/products/sofar-1.png" alt="">
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>