<div class="cart-items-section">
    <div class="container">
        <div class="cart-items">
            <div class="cart-item">
                <div class="cart">
                    <div class="product-image">
                        <img src="/assets/images/products/home-apliance.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="detail">
                            <div>
                                <div class="details-title">
                                    <span>T-shirts with multiple colors, for men and lady</span>
                                </div>
                                <div class="details-content">
                                    <span>
                                        Size: medium, Color: blue,  Material: Plastic
                                        Seller: Artel Market
                                    </span>

                                </div>
                            </div>

                            <div class="product-figures">

                                <div class="product-price">
                                    <span> ₦14000</span>
                                </div>
                                
                                <div class="quantity">
                                    <div class="input">
                                         qty: <input type="number">
                                    </div>
                                 </div>
                            </div>
                        </div>
    
                        <div class="action-button">
                            <div class="remove-button">Remove</div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>

                <div class="cart">
                    <div class="product-image">
                        <img src="/assets/images/products/home-apliance.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="detail">
                            <div>
                                <div class="details-title">
                                    <span>T-shirts with multiple colors, for men and lady</span>
                                </div>
                                <div class="details-content">
                                    <span>
                                        Size: medium, Color: blue,  Material: Plastic
                                        Seller: Artel Market
                                    </span>

                                </div>
                            </div>

                            <div class="product-figures">

                                <div class="product-price">
                                    <span> ₦14000</span>
                                </div>
                                
                                <div class="quantity">
                                    <div class="input">
                                         qty: <input type="number">
                                    </div>
                                 </div>
                            </div>
                        </div>
    
                        <div class="action-button">
                            <div class="remove-button">Remove</div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>

                <div class="cart">
                    <div class="product-image">
                        <img src="/assets/images/products/home-apliance.png" alt="">
                    </div>
                    <div class="product-detail">
                        <div class="detail">
                            <div>
                                <div class="details-title">
                                    <span>T-shirts with multiple colors, for men and lady</span>
                                </div>
                                <div class="details-content">
                                    <span>
                                        Size: medium, Color: blue,  Material: Plastic
                                        Seller: Artel Market
                                    </span>

                                </div>
                            </div>

                            <div class="product-figures">

                                <div class="product-price">
                                    <span> ₦14000</span>
                                </div>
                                
                                <div class="quantity">
                                    <div class="input">
                                         qty: <input type="number">
                                    </div>
                                 </div>
                            </div>
                        </div>
    
                        <div class="action-button">
                            <div class="remove-button">Remove</div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>


               
                <div class="bottom-action-button">
                    <div class="back-to-shop">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                          </svg>

                          back to shop
                    </div>
                    <div class="remove-all">Remove all</div>
                </div>
            </div>

            <div class="checkout-section">
                <div class="checkout">
                    <div class="subtotal">
                        subtotal: <span>₦4000</span>
                    </div>
                    <div class="discount">
                        Discount: <span>- &nbsp; ₦60</span>
                    </div>
                    <div class="tax">
                        Tax: <span>+ &nbsp; ₦45</span>
                    </div>

                    <div class="divider"></div>

                    <div class="total">
                        total: <span>₦1300.00</span>
                    </div>

                    <div class="checkout-button">Checkout</div>

                    <div class="payment-gateways">
                        <img src="/assets/images/icons/payment.png" alt="">
                        <img src="/assets/images/icons/payment2.png" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>