.footer-section {
    height: 324px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
}

.footer-items {
   background: #FFFFFF;
   display: grid;
   grid-template-columns: 2fr 1fr ;
   gap: 1.5rem;

}

.section-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #1C1C1C;
}

.brand,
 .about,
.partnership,
 .information, 
 .for-users,
 .get-app {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
 }

 nav {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #8B96A5;
 }

 .info {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #505050;
 }

 .brand {
    gap: 0.3rem;
 }

 .brand .social-icons {
    width: 80%;
    display: flex;
    justify-content: space-between;
 }
 
 .copyright {
    background: #EFF2F4;
    border-top: 1px solid #DEE2E7;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .powered {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #606060;
 }

 @media (min-width: 821px){
    .footer-items {
         padding-top: 3%;
         display: grid;
         grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr ;
         gap: 1.5rem;
         padding-bottom: 3%;
    
    }
 }